
* { 
    
margin: 0;
padding: 0;

}

nav {

    width: 100%;
    height: 200px;
    background: url(Assets/icons/buildings_classical_0122_01_s.png) repeat-x;
   

}

ul {
margin-left: 60px;

}

ul li {

list-style: none;
display: inline-block;
float:left;
line-height: 100px;
margin-top: 60px;
background-color: #0f380f;


border: #8bac0f;
border-width: 5px;
border-style: solid;


}

ul li a{

    display: block;
    text-decoration: none;
    font-size: 45px;
    font-family: Arial;
    color: #000;
    padding: 0 40px;
    width: 120px;


}










.Homeclass:hover{
    border-style: solid;
    border-width: 5px;
  
   animation-name: example;
   animation-duration: 0s;
   background-image:url(Assets/icons/backgroundblackmarket.png);
}

.ChatClass:hover{
    border-style: solid;
    border-width: 5px;
  
   animation-name: example;
   animation-duration: 0s;
   background-image:url(Assets/icons/buildings_classical_0122_01_s.png);
}

.MarketClass:hover{
    border-style: solid;
    border-width: 5px;

   animation-name: example;
   animation-duration: 0s;
   background-image:url(Assets/icons/chart.png);

}

















.wrapper {
    overflow: hidden;
  }

@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

  .imagemove {
    background: url("Assets/icons/backgroundblackmarket.png") repeat;
    height: 1300px;
    width: 100%;
    animation: slide 300s linear infinite;
    image-rendering: pixelated;
    position: absolute;
  }

  @keyframes slide{
    0%{
      background-position-x: 0px;
    }
    100%{
        background-position-x: -6962px;

    }
  }

  .stolpe{
   image-rendering: pixelated;
   position: static;
   background: url("Assets/background/buildings_classical_0151_01_s-export.png") repeat;
   position: absolute;
   width: 100%;
   height: 100%;



  }











  .test{
    list-style: none;
    display: inline-block;

    line-height: 100px;
    margin-top: 60px;
    background-color: #0f380f;
    width: 800px;

  }

  .parent {
  
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    vertical-align: middle;
  }







.casser{

background: url("Assets/background/Untitled\ Diagram\ \(2\).png") no-repeat;
height: 100%;
width: 100%;

margin: 100px;


}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 100%;
  float: left;
  padding: 200px;
  border: 2px solid red;
}  